.top4-content{
    min-height: 90vh;
    max-width: 90rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    
}

.grid-one-content{
    display: flex;
    flex-flow: column wrap;
    min-height: 100vh;
    color: rgba(240, 255, 255, 0.678);
  
}
.grid-main-hadding{
    margin-bottom: 1rem;
    
}
.grid-description{
    margin-bottom: 5rem;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
    max-width: 100rem;
    
}

.grid h3{
    font-size: 4rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 2rem;
}

.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 6rem;
    font-style: italic;
    top: -2rem;
    left: -2.5rem;
    transform: rotate(5deg);
}

.grid-gallery{
    color: var(--primary-color);
}


