:root{
    
    --primary-color: #daa520fa;
    --second-color: #ecaf15;
    --thirdy-color: crimson;
    --white-color: rgb(255, 255, 255);
    --gap: 3rem;
    --light-gray-color: #dcdcdc;
    --darkwhite-color: rgb(255, 255, 204)
    
}

/*  */